body {
    margin: 0;
    background: #fcfcfc;
}

#colour-hint {
    display: none;
    top: 5em;
    position: fixed;
    font-size: 24px;
    font-family: monospace;
    padding: 0.3em;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

canvas {
    border: solid white 1px;
    cursor: pointer;
}

canvas.imageframe {
    margin: 1em;
    float:right;
    background: white;
}

canvas:hover {
    border: solid #a0a0a0 1px;
}

.empty {
    background-color: black !important;
}

#navbar {
    border-bottom: solid #DBDBDB 2px;
    background: #F8F5EB;
}

#gifurl {
    float: left;
    color: #a0a0a0;    
    text-decoration: none;
    color: black;
    font-style: italic;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    padding: 0.3em;
    margin: 0;
}

#gifurl:hover {
    background: white;
}

#links {
    float: left;
    display: inline;
    padding: 0.3em;
}

a {
    color: black;
    text-decoration: none;
    font-style: italic;
    font-size: 11pt;
    margin: 1em;
    padding: 0.1;
}

#links a {
    color: #a0a0a0;
    display: inline-block;
    font-style: italic;
    font-size: 11pt;
    margin: 0.1em 0.4em;
    padding: 0 0.2em;
}

a:hover {
    color: #606060;
    background: white;
}

#bookmarklet {
    display: inline-block;
    float: right;
}

.grammar {
    overflow: hidden;
    white-space: nowrap;
}

.grammar, .output {
    display: inline-block;
    border-radius: 0.5em;
    margin: 0 0 0.5em 1em;
    padding: 0.4em;
    float: left;
}

.error {
    display: inline-block;
    margin-left: 1em;
    padding: 0 1em;
    border: solid red;
}

.spacer {
    clear: both;
    border-bottom: solid #a0a0a0 2px;
    display: block;
    margin: 1em 5em;
    height: 0;
}

.output {
    float: left;
}

table {
    border-collapse: collapse;
    border-spacing: 1px;
}

table caption {
    background-color: white;
    border-top: solid #c0c0c0 1px;
    padding: 0em 1em;
    border-top-style: outset;
    white-space: nowrap;
}

table tr:hover td {
    background-color: white;
    cursor: pointer;
}

table td {
    background: #f0f0f0;
    border: solid gray 1px;
    padding: 0.4em 0.2em;
    font-family: monospace;
}

table td:first-child {
    font-weight: bold;
}

table td:last-child {
    text-align: right;
}

.output pre {
    background: inherit;
}

.smoothcorners {
    border-radius: 0.4em;
}

.grammar {
    background: #D9E7E4;
}

.rule span {
    display: inline-block;
}

.word, .token {
    color: #0f0f0f;
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
    margin: 0.2em 0;
}

.word {
    background-color: #DBE091;
}

.token {
    background-color: #B7D7FC;
}

.nary::after {
    content: "*";
}

.optional::before { content: "["; }
.optional::after { content: "]"; }

.rule :first-child {
    display: inline-block;
    width: 15em;
    color: black;
    background-color: #C9EAB2;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.clickable:hover {
    background: #303030;
    color: #f0f0f0;
    transition: background 0.9s, color 0.4s;
}

.nada {
    background: red;
}