{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie 11",
            "last 2 Chrome versions",
            "last 2 Firefox versions"
          ]
        }
      }
    ],
    "stage-0",
    "react"
  ]
}
