body {
    margin: 0;
    background: #F2FFEA;
}

canvas {
    margin: 1em;
}

.empty {
    background-color: black !important;
}

#navbar {
    border-bottom: solid #DBDBDB 2px;
    padding: 0.3em;
    line-height: 1.5em;
    background: #F8F5EB;
}

#gifurl {
    display: none;
    float:left;
    margin: 0 1em 0 0;
}

#links {
    display: inline;
    float: left;
}

#links a {
    text-decoration: none;
    font-style: italic;
    color: #a0a0a0;
    font-size: 11pt;
    margin: 0.4em;
}

#bookmarklet {
    display: inline-block;
    float: right;
}

.grammar, .output {
    display: inline-block;
    border: solid black 1px;
    border-radius: 0.5em;
    margin: 0 0 0.5em 1em;
    padding: 0.4em;
    float: left;
}

.output {
    height: 156px;
    overflow:hidden;
    position: relative;
    float: left;
    background: #E8FFD9;
}

.output pre {
    background: inherit;
}

.smoothcorners {
    border-radius: 0.4em;
}

.output:hover {
    overflow: visible;
    z-index: 999;
}

.grammar {
    background: #D9E7E4;
}

.rule {}

.word, .token {
    color: #0f0f0f;
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
    margin: 0.2em 0;
}

.word {
    background-color: #DBE091;
}

.token {
    background-color: #B7D7FC;
}

.nary::after {
    content: "*";
}

.optional::before { content: "["; }
.optional::after { content: "]"; }

.rule :first-child {
    display: inline-block;
    width: 15em;
    color: black;
    background-color: #C9EAB2;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.clickable:hover {
    background: #303030;
    color: #f0f0f0;
    transition: background 0.9s, color 0.4s;
}

.nada {
    background: red;
}